

/* Styeles the API Container*/

#teamContainer {width: 97.7%;}

.panel-danger {display: inline-block;
				width: 24.5%;
				height: 100%;
				min-height: 500px;
				min-width:100px;  }

#apiContainer, #teamContainer {margin-left: 1%;}

.fa-refresh {float: right;}

.panel {margin:0px 0px 0px 0px;}